body {
  padding-top: 50px;
}

.form-inline .form-control.full-width
{
  width: 100%;
}

.top-spacing
{
  padding-top: 20px;
}

.bottom-spacing
{
  padding-bottom: 20px;
}

.top-margin
{
  margin-top: 15px;
}

.bottom-margin
{
  margin-bottom: 20px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

div.pagination
{
  margin: 0 0;
}

div.pagination-row
{
  margin-top: 20px;
}

#page-jump
{
  display: inline-block;
}

.centered
{
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.form-control.filter
{
  width: 200px;
}

.inline-block
{
  display: inline-block;
}

.form-label
{
  width: 150px;
}
